In [106]:
import pandas as pd
import numpy as np
import os

os.chdir("/Users/PraveenGupta/Downloads/Kaggle/numerai_datasets/")

train=pd.read_csv("numerai_training_data.csv")
test=pd.read_csv("numerai_tournament_data.csv")

In [107]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Normalizer, PolynomialFeatures
from sklearn.preprocessing import MaxAbsScaler, MinMaxScaler, StandardScaler, RobustScaler

In [108]:
feature_names = train.columns.values
train_id_target = train[['t_id','target']]
train = train.drop( 'target', axis = 1 )
train = train.drop( 't_id', axis = 1 )
test_target=test[['t_id']]
test = test.drop( 't_id', axis = 1 )

In [62]:
print train.columns.values

['feature1' 'feature2' 'feature3' 'feature4' 'feature5' 'feature6'
 'feature7' 'feature8' 'feature9' 'feature10' 'feature11' 'feature12'
 'feature13' 'feature14' 'feature15' 'feature16' 'feature17' 'feature18'
 'feature19' 'feature20' 'feature21']

In [112]:
transformers = [MaxAbsScaler(), MinMaxScaler(), RobustScaler(), StandardScaler(),Normalizer( norm = 'l1' ), Normalizer( norm = 'l2' ), Normalizer( norm = 'max' )] 
transformationNames=['MaxAbsScaler','MinMaxScaler','RobustScaler','StandardScaler','Normalizer_L1','Normalizer_L2','Normalizer_max']

In [110]:
def transform_train_and_evaluate(transformer):
    train_new = transformer.fit_transform(train)#,train_id_target['target'].values)        #do we need to pass the target here??
    test_new = transformer.transform(test)
    train_new = pd.DataFrame(train_new,columns=train.columns.values)
    train_new = pd.concat([train_new,train_id_target],axis=1)
    test_new = pd.DataFrame(test_new,columns=test.columns.values)
    test_new = pd.concat([test_new,test_target],axis=1)
    return train_new,test_new

In [114]:
i=0
for transformer in transformers:
    train_transformed,test_transformed = transform_train_and_evaluate(transformer)
    train_transformed.to_csv(transformationNames[i]+"_train.csv",index=False)
    test_transformed.to_csv(transformationNames[i]+"_test.csv",index=False)
    print "created new table : %s "%((str(transformer)))
    i=i+1

created new table : MaxAbsScaler(copy=True)
created new table : MinMaxScaler(copy=True, feature_range=(0, 1))
created new table : RobustScaler(copy=True, with_centering=True, with_scaling=True)
created new table : StandardScaler(copy=True, with_mean=True, with_std=True)
created new table : Normalizer(copy=True, norm='l1')
created new table : Normalizer(copy=True, norm='l2')
created new table : Normalizer(copy=True, norm='max')

In [95]:
print str(transformer)[:(str(transformer)).index('(')]

RobustScaler

In [86]:
train_transformed.head() #just transform not fit_transform

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature12,feature13,feature14,feature15,feature16,feature17,feature18,feature19,feature20,feature21
0,-0.437448,0.424928,0.431940,-0.559140,-0.313588,-0.416496,-0.039559,-0.131025,0.094763,-0.009009,...,0.124437,0.713260,-0.538150,0.345616,0.273537,-0.314769,-0.023340,-0.153320,-0.468282,0.587186
1,0.707763,-0.123937,-0.145961,-0.658291,0.028878,-0.426332,-0.833165,0.792465,-0.578033,0.323109,...,-0.961097,0.129457,-0.507930,0.134582,0.411894,0.190980,-0.108574,0.924086,0.454979,0.057260
2,-0.790490,0.185716,0.402282,0.763339,0.095122,0.455018,1.011367,-0.987597,0.844772,0.793506,...,0.648685,0.669430,0.784298,0.555093,0.320575,-0.574788,0.678669,-0.894796,-0.612232,0.268919
3,0.643927,-0.433827,-0.540434,0.517380,-0.703354,0.587514,-0.642726,0.683993,-0.561626,-0.984398,...,-0.523931,-0.799125,0.634258,-0.376950,-0.683689,-0.950395,-0.620420,0.695255,-0.981099,-0.942930
4,-0.889952,-0.909470,-0.141117,-0.637855,-0.759768,-0.829930,-0.818578,-0.313376,-0.223361,-0.664655,...,-0.943311,-0.838855,-0.881833,0.665032,0.460546,0.706635,-0.771568,-0.982725,0.582607,-0.730411

In [77]:
train_transformed.head() #target not passed

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature12,feature13,feature14,feature15,feature16,feature17,feature18,feature19,feature20,feature21
0,-0.437448,0.424928,0.431940,-0.559140,-0.313588,-0.416496,-0.039559,-0.131025,0.094763,-0.009009,...,0.124437,0.713260,-0.538150,0.345616,0.273537,-0.314769,-0.023340,-0.153320,-0.468282,0.587186
1,0.707763,-0.123937,-0.145961,-0.658291,0.028878,-0.426332,-0.833165,0.792465,-0.578033,0.323109,...,-0.961097,0.129457,-0.507930,0.134582,0.411894,0.190980,-0.108574,0.924086,0.454979,0.057260
2,-0.790490,0.185716,0.402282,0.763339,0.095122,0.455018,1.011367,-0.987597,0.844772,0.793506,...,0.648685,0.669430,0.784298,0.555093,0.320575,-0.574788,0.678669,-0.894796,-0.612232,0.268919
3,0.643927,-0.433827,-0.540434,0.517380,-0.703354,0.587514,-0.642726,0.683993,-0.561626,-0.984398,...,-0.523931,-0.799125,0.634258,-0.376950,-0.683689,-0.950395,-0.620420,0.695255,-0.981099,-0.942930
4,-0.889952,-0.909470,-0.141117,-0.637855,-0.759768,-0.829930,-0.818578,-0.313376,-0.223361,-0.664655,...,-0.943311,-0.838855,-0.881833,0.665032,0.460546,0.706635,-0.771568,-0.982725,0.582607,-0.730411

In [82]:
train_transformed.head()  #target passed

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature12,feature13,feature14,feature15,feature16,feature17,feature18,feature19,feature20,feature21
0,-0.437448,0.424928,0.431940,-0.559140,-0.313588,-0.416496,-0.039559,-0.131025,0.094763,-0.009009,...,0.124437,0.713260,-0.538150,0.345616,0.273537,-0.314769,-0.023340,-0.153320,-0.468282,0.587186
1,0.707763,-0.123937,-0.145961,-0.658291,0.028878,-0.426332,-0.833165,0.792465,-0.578033,0.323109,...,-0.961097,0.129457,-0.507930,0.134582,0.411894,0.190980,-0.108574,0.924086,0.454979,0.057260
2,-0.790490,0.185716,0.402282,0.763339,0.095122,0.455018,1.011367,-0.987597,0.844772,0.793506,...,0.648685,0.669430,0.784298,0.555093,0.320575,-0.574788,0.678669,-0.894796,-0.612232,0.268919
3,0.643927,-0.433827,-0.540434,0.517380,-0.703354,0.587514,-0.642726,0.683993,-0.561626,-0.984398,...,-0.523931,-0.799125,0.634258,-0.376950,-0.683689,-0.950395,-0.620420,0.695255,-0.981099,-0.942930
4,-0.889952,-0.909470,-0.141117,-0.637855,-0.759768,-0.829930,-0.818578,-0.313376,-0.223361,-0.664655,...,-0.943311,-0.838855,-0.881833,0.665032,0.460546,0.706635,-0.771568,-0.982725,0.582607,-0.730411

In [78]:
test_transformed.head() #target not passed

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature12,feature13,feature14,feature15,feature16,feature17,feature18,feature19,feature20,feature21
0,0.758500,0.980365,-0.313388,0.229522,0.804742,0.726514,-0.049781,0.864497,-0.177956,-0.129382,...,0.783131,0.798268,0.312633,0.910168,0.777358,0.794960,-0.324877,-0.770816,0.883357,-0.958388
1,0.987852,0.453582,0.099631,0.822369,-0.692876,0.869254,0.460108,0.558338,-0.930034,1.065204,...,0.517756,-0.092229,0.646790,-0.620009,-0.334029,-0.863134,-0.164593,-0.183371,-0.753266,0.776527
2,0.671580,-0.211836,-0.483510,-0.826133,-0.020293,-0.658266,0.213008,0.745555,-0.555402,-0.653610,...,0.380201,0.862863,-0.457820,0.484740,0.415902,-0.033177,-0.205611,0.920227,-0.242081,-0.517036
3,-0.480311,0.859962,0.084500,0.008265,-0.702632,0.726231,1.017840,-0.191737,0.617950,0.155431,...,0.747996,-0.240813,-0.106466,0.343986,0.463507,-0.400993,0.954065,-0.375376,-0.509994,0.808041
4,-0.735365,-0.787809,-0.956968,-0.525693,0.808868,-0.861279,-0.960535,-0.732010,-0.728140,-0.750012,...,-0.746713,0.897352,-0.780987,0.497260,0.560954,0.953875,-0.908331,-0.943664,0.966438,-0.390171

In [83]:
test_transformed.head() #target passed

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature12,feature13,feature14,feature15,feature16,feature17,feature18,feature19,feature20,feature21
0,0.758500,0.980365,-0.313388,0.229522,0.804742,0.726514,-0.049781,0.864497,-0.177956,-0.129382,...,0.783131,0.798268,0.312633,0.910168,0.777358,0.794960,-0.324877,-0.770816,0.883357,-0.958388
1,0.987852,0.453582,0.099631,0.822369,-0.692876,0.869254,0.460108,0.558338,-0.930034,1.065204,...,0.517756,-0.092229,0.646790,-0.620009,-0.334029,-0.863134,-0.164593,-0.183371,-0.753266,0.776527
2,0.671580,-0.211836,-0.483510,-0.826133,-0.020293,-0.658266,0.213008,0.745555,-0.555402,-0.653610,...,0.380201,0.862863,-0.457820,0.484740,0.415902,-0.033177,-0.205611,0.920227,-0.242081,-0.517036
3,-0.480311,0.859962,0.084500,0.008265,-0.702632,0.726231,1.017840,-0.191737,0.617950,0.155431,...,0.747996,-0.240813,-0.106466,0.343986,0.463507,-0.400993,0.954065,-0.375376,-0.509994,0.808041
4,-0.735365,-0.787809,-0.956968,-0.525693,0.808868,-0.861279,-0.960535,-0.732010,-0.728140,-0.750012,...,-0.746713,0.897352,-0.780987,0.497260,0.560954,0.953875,-0.908331,-0.943664,0.966438,-0.390171

In [40]:
train_MinMax=Normalizer(norm='l1').fit_transform(train)
train_MinMax=pd.DataFrame(train_MinMax)